/**
 * Variables
 */

/**
 * Colors
 */
$main-gray: #2f2e2e;

$main-red: #c82020;

$logo-red: #b40f0f;

$twitter-blue: #55ACEE;

$twitter-white: #F5F8FA;

$facebook-blue: #3B5999;

$rss-orange: #FF6600;